{% extends 'base.html' %}


{% block content %}

  <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

  <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto mt-5" style="max-width: 380px;">
        <div class="card-body">
        <h2 class="card-title mb-4 text-center">Sign in</h2>
        
        {% include 'includes/alerts.html' %}
        
        <div class="text-danger text-center">
          <span id="crederror"></span>
        </div>

        <form action="" method="">
          {% csrf_token %}
          <div class="form-group">
            <label>Email</label>
         <input type="email" id="email" class="form-control" placeholder="Enter Your Email Address" name="email" required>
         <div class="text-danger mt-1"><span id="emailerror"></span></div>
            </div> <!-- form-group// -->
            <div class="form-group">
              <label>Password</label>
        <input type="password" id="password" class="form-control" placeholder="Enter Your Password" name="password" required>
        <div class="text-danger mt-1"><span id="passerror"></span></div>
            </div> <!-- form-group// -->
            
            <div class="form-group">
              <a href="#" class="float-right">Forgot password?</a> 
             
            </div> <!-- form-group form-check .// -->
            <div class="form-group">
                <button type="button" id="login" class="btn btn-success btn-block"> Login  </button>
            </div> <!-- form-group// -->    
        </form>
        <p class="text-center">Or Login with OTP? <a href="{% url 'otpLogin' %}">Click Here</a></p>
        </div> <!-- card-body.// -->
      </div> <!-- card .// -->
  
       <p class="text-center mt-4">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
       <br><br>
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
  
  
  </section>
  <!-- ========================= SECTION CONTENT END// ========================= -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $('#login').click(() => {
      var email = $('#email').val()
      var password = $('#password').val()
      var url = '{% url 'userLogin' %}'
      var data = {
        'csrfmiddlewaretoken':'{{ csrf_token }}',
        'email':email,
        'password':password,
      }
      if(email == ''){
        $('#emailerror').html('Please enter a valid email!!!')
      }else if(password == ''){
        $('#passerror').html('Please enter a valid password!!!')
      }else {
        $.ajax({
          url: url,
          method:'POST',
          data: data,
          {% comment %} dataType: 'json', {% endcomment %}
          success: function(data){
            if(data.success){
              window.location.replace(data.url)
            }else{
              $('#crederror').html('Invalid credentials!!!')
            }
          }
        })
      }

    })
  </script>

{% endblock content %}