{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- ...:::: Start Cart Section:::... -->
    <div class="cart-section my-5">
        <!-- Start Coupon Start -->
        <div class="coupon_area">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="coupon_code left" data-aos="fade-up" data-aos-delay="200">
                            <h3>Coupon</h3>
                            <div class="coupon_inner">
                                <p>Enter your coupon code if you have one.</p>
                                <input class="mb-2" placeholder="Coupon code" type="text">
                                <button type="submit" class="btn btn-md btn-golden">Apply coupon</button>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-7 clo-md-6">
                        <div class="coupon_code left" data-aos="fade-up" data-aos-delay="200">
                            <div class="card">
                                <h5 class="card-header text-center font-weight-bold">Billing Address</h5>
                                <div class="card-body">
                                  <p class="card-text mb-0">{{order.full_name}}</p>
                                  <p class="card-text mb-0">{{order.full_address}}</p>
                                  <p class="card-text mb-0">{{order.city}}, {{order.district}}</p>
                                  <p class="card-text mb-0">{{order.state}}</p>
                                  <p class="card-text mb-0">{{order.email}}</p>
                                  <p class="card-text mb-0">{{order.phone}}</p>
                                  {% if order.order_note %}
                                    <b>Order Note:</b> {{order.order_note}}
                                   {%endif%} 
                                </div>
                            </div>

                           

                            <div class="card mt-3">
                                <h5 class="card-header text-center font-weight-bold">Review Products</h5>
                                <div class="card-body">
                                    <div class="order_table table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Image</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            {% for cart_item in cart_items %}
                                            <tbody>
                                                <tr>
                                                    <td>{{ cart_item.product.product_name }}
                                                      <br>

                                                      {% for item in cart_item.variations.all %}

                                                      {{item.variation_category | capfirst}} : {{item.variation_value | capfirst}}

                                                      {% endfor %}
                                                      <strong> × {{ cart_item.quantity }}</strong></td>
                                                    <td class="product_thumb"><a href="#"><img
                                                        src="{{ cart_item.product.image_1.url }}" style="width: 60px;"
                                                        alt="img"></a>
                                                    </td>
                                                    <td><p class="mt-3"> ₹{{ cart_item.sub_total }}</p> </td>
                                                    
                                                </tr>
                                            </tbody>
                                            {%endfor%}
                                        </table>
                                    </div>
                                </div>
                            </div>



                                <!-- Start Coupon Start -->
                            {% comment %} <div class="coupon_area" id="coupon_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="coupon_code left" data-aos="fade-up" data-aos-delay="200">
                                                <h3>Coupon</h3>
                                                <div class="coupon_inner">
                                                    <p>Enter your coupon code if you have one.</p>
                                                    <div id="output" class="my-2 text-danger" >
                                                    </div>
                                                    <form id="coupon_form" method="POST">
                                                        {% csrf_token %}
                                                        <input class="mb-2" placeholder="Coupon code" type="text"
                                                            name="coupon_data" id="coupon_data"
                                                        >
                                                        <button  class="btn btn-md btn-golden" type="submit">Apply coupon</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% if coupons %}
                                        <div class="col-md-12 mt-3">
                                            <h3 class="text-success"> Availabel Coupons:</h3>
                                            <div class="faq-accordian">
                                                {% for item in coupons %}
                                                {% if forloop.counter == 1 %}
                                                <div class="faq-accordian-single-item" data-aos="fade-up" data-aos-delay="0">
                                                    <input id="item-1" name="accordian-item" type="radio" checked="">
                                                    <label for="item-1">{{item.coupone.discount}}% OFF</label>
                                                    <div class="item-content">
                                                        <p><b>*</b>Applicable only  for order price more than {{item.coupone.min_value}}</p>
                                                        <div class="d-flex mb-3">
                                                        <span class="h4 text-success mt-2 ml-5 mr-2">Coupon Code : </span>
                                                        <div class="code text-center mr-2" style="text-transform: uppercase;
                                                            padding: 4px;
                                                            background-color: #fff;
                                                            color: red;
                                                            margin-top: 5px;
                                                            font-size: 19px;
                                                            padding-right: 57px;">

                                                        <span class="text-center">{{item.coupone.code}}</span>
                                                        </div>
                                                          </div>
                                                    </div>
                                                </div>
                                                {%else%}
                                                <div class="faq-accordian-single-item" data-aos="fade-up" data-aos-delay="200">
                                                    <input id="item-2" name="accordian-item" type="radio">
                                                    <label for="item-2">{{item.coupone.discount}}% OFF</label>
                                                    <div class="item-content">
                                                        <p><b>*</b>Applicable only  for order price more than {{item.coupone.min_value}}</p>
                                                        <div class="d-flex mb-3">
                                                        <span class="h4 text-success mt-2 ml-5 mr-2">Coupon Code : </span>
                                                        <div class="code text-center mr-2" style="text-transform: uppercase;
                                                            padding: 4px;
                                                            background-color: #fff;
                                                            color: red;
                                                            margin-top: 5px;
                                                            font-size: 19px;
                                                            padding-right: 57px;">

                                                        <span class="text-center">{{item.coupone.code}}</span>
                                                    </div>
                                                </div>
                                                {%endif%}
                                                {%endfor%}
                                                
                                            </div>

                                        </div>
                                        {%endif%}
                                    </div>
                                </div>
                            </div> <!-- End Coupon Start -->   {% endcomment %}
                        </div>


                    </div>
                    <div class="col-lg-5 col-md-6 ml-auto" id="amount-caontainer">
                        <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                            <h3 class="text-center font-weight-bold mb-4">Cart Totals</h3>
                            <div class="coupon_inner container">
                                <div class="cart_subtotal d-flex justify-content-between">
                                    <p>Subtotal :</p>
                                    <span class="cart_amount">₹{{total}}.00</span>
                                </div>
                                <div class="cart_subtotal d-flex justify-content-between">
                                    <p>Tax :</p>
                                    <span class="cart_amount">₹{{tax}}</span>
                                </div>

                                {% comment %} <div class="cart_subtotal" id="coupon_block" style="display: none!important;">
                                    <p>Coupon</p>
                                    <p class="cart_amount"> - <b id="coupon_perc"></b>%</p>
                                </div> {% endcomment %}

                                <div class="cart_subtotal d-flex justify-content-between">
                                    <p>Grand Total :</p>
                                    <span class="cart_amount"><b>₹{{grand_total}}</b></span>
                                </div>

                                <div class="container-fluid mt-4">
                                        <div class="row">
                                            <button  class="btn ml-3 mb-4 col-11 btn-warning" style="height: 44px;" data-toggle="modal" data-target="#exampleModal">
                                                CASH ON DELIVERY
                                            </button>
                                            <button id="rzp-button1" class="btn btn-primary ml-3 mb-4 col-11" >
                                            <img src="{% static 'img/razorpay-icon.png' %}" alt="Razer Pay"  width="150px">
                                            </button>
                                            <!-- paypal button -->
                                            <div id="paypal-button-container" class="col-12"></div>
                                        </div>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">CASH ON DELIVERY</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <p>Confirm Your Order ?</p>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <a href="{% url 'cash_on_delivery' order_number %}" type="button" class="btn btn-primary">Confirm</a>
                                                {% comment %} <a href="" type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModalCenter">Confirm</a> {% endcomment %}
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                </div>
            </div>
        </div> 
        <!-- End Coupon Start -->
    </div> <!-- ...:::: End Cart Section:::... -->

<script src="https://www.paypal.com/sdk/js?client-id=AfHU3mDsa8YG5NwWfhiuS6HSmvt98dw1sx4FXn7uibSSEUtgxzACrTNxianta07ZmhE2MftfaopHP3wn&currency=USD"></script>

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }


    var amount=Number("{{grand_total}}");
    amount =  amount/81.52;
    amount = amount.toFixed(2)
    var url = "{% url 'payments' %}"
    var csrftoken = getCookie('csrftoken');
    var orderID = "{{order.order_number}}"
    var payment_method = 'PayPal'
    var redirect_url = "{% url 'payments_completed' %}"


        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 40
            },


            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: amount
                        }
                    }]
                });
            },
    
            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    console.log(details);
                    sendData1();
                    function sendData1(){
                        fetch(url, {
                            method : "POST",
                            headers: {
                                "Content-type": "application/json",
                                "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: orderID,
                                transID: details.id,
                                status: 'completed',
                                paymode : "PayPal"
                            }),
                        })
                    .then((response) => response.json())
                    .then((data) => {
                            window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
                        });
                    }
                });
            }
    
    
        }).render('#paypal-button-container');
</script>


{% endblock %}